google-api-python-client
langchain-google-genai
google-auth-httplib2
google-auth-oauthlib
langchain-community
singleton-decorator
pydantic-settings
langchain-openai
langchain-core
google-genai
pytest-mock
statsmodels
pytest-cov
matplotlib
langchain
faiss-cpu
GitPython
chardet
seaborn
pandas
dotenv
pytest
scipy
numpy
click
tqdm
