google-api-python-client
langchain-google-genai
google-auth-httplib2
google-auth-oauthlib
langchain-community
singleton-decorator
pydantic-settings
langchain-openai
langchain-core
google-genai
pytest-mock
pytest-cov
langchain
faiss-cpu
GitPython
chardet
pandas
dotenv
pytest
click
tqdm
